
.column {
  float: left;
  width: 33.3%;
  margin: 33.3%;
  margin-top: 5px;
  padding: 0 8px;
  align-items: center;
} 

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  align-items: center;
}

.card:hover{
  background-color: red;
  color:white;
  cursor:pointer;
  transform:scale(1.04);
  transition: all 1s ease;
}

.about-section {
  padding: 50px;
  text-align: center;
  align-items: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
  align-items: center;
}

.container::after, .row::after {
  content: "";
  clear: both;
  align-items: center;
  display: table;
}

.title {
  color: grey;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}